
/***********************/
/* Barra de navegación */
/***********************/

.navbar-custom {
	background-color: #31ada1;
}

.nav-link:hover {
	background-color: #A7C7C4;
	border-radius: 5px;
}

.nav-link-active {
	background-color: #A7C7C4;
	border-radius: 5px;
}

/****************/
/* Contenedores */
/****************/

.btn {
		border-color: #31ada1;
		border-radius: 3px;
  	border-style: solid;
		border-width: 1px;
  	margin-top: 5px;
  	color: #555555;
  	padding: 15px;
}

.art {
		border-color: #31ada1;
		border-radius: 3px; /* (height/2) + border-width */
  	border-style: solid;
		border-width: 1px;
  	margin-top: 5px;
  	color: #555555;
  	padding: 5px 5px 5px 5px;
  	background-color: #fff;
}

.artClub {
		border-color: #31ada1;
		border-radius: 3px; /* (height/2) + border-width */
  	border-style: solid;
		border-width: 1px;
  	margin-top: 5px;
  	color: #555555;
  	padding: 5px 5px 5px 5px;
  	background-color: #fff;
}

.art2 {
		border-color: #31ada1;
		border-radius: 3px; /* (height/2) + border-width */
  	border-style: solid;
		border-width: 1px;
  	margin-top: 5px;
  	color: #555555;
  	background-color: #fff;
}

.h1-custom {
	font-size: 20px;
	font-family: 'Helvetica';
}

/*********************/
/* Barra de busqueda */
/*********************/

.flexsearch--wrapper {
	height: auto;
	width: 100%;
	max-width: 100%;
	overflow: hidden;
	background: transparent;
	margin: 0;
	position: static;
}
	
.flexsearch--form {
	overflow: hidden;
	position: relative;
}
	
.flexsearch--input-wrapper {
	padding: 0 66px 0 0; /* Right padding for submit button width */
	overflow: hidden;

}

.flexsearch--input {
  width: 100%;
}

.flexsearch {
  padding: 0 500px 0 0; /* Padding for other horizontal elements */
}

.flexsearchEliminar {
	width: 35%;
}

.flexsearchDesc {
	padding: 15px 300px 0 0;
}

.flexsearchNav {
  padding: 0 25px 5px 50px; /* Padding for other horizontal elements */

}

.flexsearch--input {
  -webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
 	height: 25px;
 	padding: 0 46px 0 10px;
 	padding-right: none;
	border-color: #555555;
  border-radius: 3px; /* (height/2) + border-width */
  border-style: solid;
	border-width: 1px;
  margin-top: 5px;
  color: #555555;
  background-color: #A7C7C4;
  font-family: 'Helvetica', sans-serif;
	font-size: 16px;
	-webkit-appearance: none;
	-moz-appearance: none;
}
	
.flexsearch--submit {
  position: absolute;
	right: 0;
	top: 0;
	display: block;
	width: 60px;
	height: 60px;
 	padding: 0;
 	border: none;
	margin-top: 4px; /* margin-top + border-width */
 	margin-right: 5px; /* border-width */
	background: transparent;
 	color: #888;
 	font-family: 'Helvetica', sans-serif;
 	font-size: 16px;
 	line-height: 60px;
}

.flexsearch--input:focus {
  outline: none;
  border-color: #333;
}

.flexsearch--input:focus.flexsearch--submit {
	color: #333; 
}

.flexsearch--submit:hover {
  color: #333;
  cursor: pointer;
}

::-webkit-input-placeholder {
	color: #888;  
}

input:-moz-placeholder {
  color: #888
}

.a-custom {
	font-family: 'Helvetica';
	font-size: 16px;
	color: black;
	text-decoration: none;
	padding-left: 10px;
}

.a-custom:hover {
	background-color: #A7C7C4;
	border-radius: 3px;
	color: black;
	padding-left: 5px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
}

/***********/
/* Botones */
/***********/

.button {
	border-color: #555555;
  border-radius: 3px;
  border-style: solid;
	border-width: 0;
	color: #000000;
 	background-color: #A7C7C4;
 	font-family: 'Helvetica', sans-serif;
	font-size: 16px;
	padding-left: 10px;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
}

.button2 {
	border-color: #555555;
  border-radius: 3px;
  border-style: solid;
	border-width: 0;
	color: #000000;
 	background-color: #A7C7C4;
 	font-family: 'Helvetica', sans-serif;
	font-size: 16px;
	padding-left: 10px;
	padding-top: 3px;
	padding-right: 10px;
	padding-bottom: 3px;
}

.button:hover {
	border-color: #555555;
	border-radius: 3px;
	border-style: solid;
	border-width: 0;
	color: #000000;
	background-color: #6FA49F;
	font-family: 'Helvetica', sans-serif;
	font-size: 16px;
	padding-left: 10px;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
}

/********************/
/* Carrousel Libros */
/********************/

#carrusel {
    float:left;
    width:1130px;
    overflow:hidden;
    height:200px;
    position:relative;
    margin-top:20px;
    margin-bottom:10px;
}
 
#carrusel .left-arrow {
    position:absolute;
    left:10px;
    z-index:1;
    top:50%;
    margin-top:-9px;
}
 
#carrusel .right-arrow {
    position:absolute;
    right:10px;
    z-index:1;
    top:50%;
    margin-top:-9px;
}
.carrusel {
		padding: 15px 15px 15px 15px;
    width:4000px;
    left:0px;
    position:absolute;
    z-index:0;
}
 
.carrusel>div {
    float: left;
    height: 203px;
    margin-right: 5px;
    width: 120px;
    text-align:center;
}
 
.carrusel img {
    cursor:pointer;
}
 
.product {
    border-color:none;
    border-width:0;
}

/******************************/
/* Carrousel Clubs de lectura */
/******************************/

#carruselClub {
    float:left;
    width:1130px;
    overflow:hidden;
    height:200px;
    position:relative;
    margin-top:20px;
    margin-bottom:10px;
}
 
#carruselClub .left-arrowClub {
    position:absolute;
    left:10px;
    z-index:1;
    top:50%;
    margin-top:-9px;
}
 
#carruselClub .right-arrowClub {
    position:absolute;
    right:10px;
    z-index:1;
    top:50%;
    margin-top:-9px;
}
.carruselClub {
		padding: 15px 15px 15px 15px;
    width:4000px;
    left:0px;
    position:absolute;
    z-index:0;
}
 
.carruselClub>div {
    float: left;
    height: 170px;
    margin-right: 5px;
    width: 195px;
    text-align:center;
}
 
.carruselClub img {
    cursor:pointer;
}
 
.productClub {
    border:#CCCCCC 1px solid;
    padding: 5px;
}

/*********/
/* Libro */
/*********/

.book {
	height: 165px;
}

/**********/
/* Titulo */
/**********/

.club {
	font-family: Liberation Serif;
	font-size: 35px;
	border-bottom: 1px solid #31ada1;
}

.h5 {
	padding-bottom: 1px;
}

/*************/
/* Etiquetas */
/*************/

img {
	padding-top: 0px;
	border: none;
}

table {
	align-content: left;
	width: 500px;
	height: 250px;
}

.p {
	padding-bottom: 0;
	border-bottom: 2px;
}

.a {
	text-decoration: none;
	color: black;
}