.navbar-custom {
	background-color: #31ada1;
}

.nav-link:hover {
	background-color: #A7C7C4;
	border-radius: 5px;
}

.nav-link-active {
	background-color: #A7C7C4;
	border-radius: 5px;
}


.art {
	border-color: #31ada1;
	border-radius: 3px; /* (height/2) + border-width */
  	border-style: solid;
	border-width: 1px;
  	margin-top: 5px;
  	color: #555555;
  	padding: 15px;
	column-gap: 40px;
	max-width: 100%;
	max-height: 100%;
}
.h1-custom {
	font-size: 20px;
	font-family: 'Helvetica';
}

.flexsearch--wrapper {
	height: auto;
	width: auto;
	max-width: 100%;
	overflow: hidden;
	background: transparent;
	margin: 0;
	position: static;
}
	
.flexsearch--form {
	overflow: hidden;
	position: relative;
}
	
.flexsearch--input-wrapper {
	padding: 0 66px 0 0; /* Right padding for submit button width */
	overflow: hidden;
}

.flexsearch--input {
  width: 100%;
}

/***********************
 * Configurable Styles *
 ***********************/
.flexsearch {
  padding: 0 25px 0 200px; /* Padding for other horizontal elements */
}

.flexsearch--input {
  	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
 	height: 30px;
  	padding: 0 46px 0 10px;
	border-color: #555555;
  	border-radius: 3px; /* (height/2) + border-width */
  	border-style: solid;
	border-width: 1px;
  	margin-top: 5px;
  	color: #555555;
  	background-color: #A7C7C4;
  	font-family: 'Helvetica', sans-serif;
	font-size: 16px;
	-webkit-appearance: none;
	-moz-appearance: none;
}
	
.flexsearch--submit {
  	position: absolute;
	right: 0;
	top: 0;
	display: block;
	width: 60px;
	height: 60px;
  	padding: 0;
  	border: none;
	margin-top: 4px; /* margin-top + border-width */
  	margin-right: 5px; /* border-width */
	background: transparent;
  	color: #888;
  	font-family: 'Helvetica', sans-serif;
  	font-size: 16px;
  	line-height: 60px;
}

.flexsearch--input:focus {
  outline: none;
  border-color: #333;
}

.flexsearch--input:focus.flexsearch--submit {
	color: #333; 
}

.flexsearch--submit:hover {
  color: #333;
  cursor: pointer;
}

::-webkit-input-placeholder {
	color: #888;  
}

input:-moz-placeholder {
  color: #888
}

.a-custom {
	font-family: 'Helvetica';
	font-size: 16px;
	color: black;
	text-decoration: none;
	padding-left: 10px;
}

.a-custom:hover {
	background-color: #A7C7C4;
	border-radius: 3px;
	color: black;
	padding-left: 5px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
}

.button {
	border-color: #A7C7C4;
  	border-radius: 3px;
  	border-style: solid;
	border-width: 1;
	color: #000000;
  	background-color: #ffffff;
  	font-family: 'Helvetica', sans-serif;
	font-size: 16px;
	padding-left: 10px;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	text-align: left;
	text-decoration: none;

	transition-duration: 0.4s;
	cursor: pointer;
}
/*Agregado por Gonzalo Echague*/
/*Estilo para el Avatar*/
#image_drop_area{
	display: flex;
	width: 500px;
	height: 800px;
	border: 1px solid black;
	background-position: center;
	background-size: cover; 
	box-sizing: border-box;
  }
  /**/
 .searchlibros{
	column-gap: 10px;

 }
 /*Botono para la parte de busuqeda libros*/
 .button_books{
	background-color: #ffffff;
	border: 2px solid #31ada1;
	color: #000000;

 }
 /*hover del boton*/
 .button_books:hover {
	background-color: #31ada1;
	color: #ffffff;
	text-decoration: none;
 }
 .checked {
	color: orange;
  }
  /*Pdf Viewer*/
  @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

*{
	padding: 0;
	margin:0;
	box-sizing: border-box;
	color: #eee;
}

.buttonpdf{
	cursor: pointer;
	padding: 2px 5px;
	color: #ccc;
	background: transparent;
	border: none;
	outline: none;
}

body{
	font-family: 'Lato', sans-serif;
	background-color: #171717;
}

main{
	width: 100%;
	min-height: 90vh;
	display:flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
	
}

main h3{
	text-align: center;
	width: 100%;
	word-spacing: 0.5rem;
	font-size: 2rem;
	color: #bbbbbb;
}

.pdf-viewer{
	background-color: #333;
	background-color: #fff;
	margin: auto;
}

.hidden{
	display:none;
}

footer{
	position:sticky;
	bottom:0;
	height: 10vh;
	background-color:#000000;
}

.pagination{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	color: #eee;
	font-size: 1.4rem;
}

.pagination span{
	font-size: 1.1rem;
	margin: 0 10px;
}

.pagination button{
	font-size: 1.5rem;
}

button:active > *{
	color: #8d8d8d;
}

footer ul{
	list-style-type: none;
	width: 100%;
	height: 100%;
	display:flex;
	justify-content:space-between;
	align-items:center;
	position: relative;
}

footer ul li:first-child{
	margin-left: 20px;
}

footer ul li:last-child{
	margin-right: 20px;
}

#zoomValue{
	display:inline-block;
	font-size: 0.9rem;
	width: 60px;
	vertical-align:center;
}

#openPDF{
	font-size: 1.2rem;
	padding: 2px 5px;
	font-weight: 700;
	color:#eee;
}


